<div class="container">

  <div class="row">
    <h1>Pagos con PayPal</h1>

  </div>

  <form [formGroup]="this.formProduct" (ngSubmit)="this.addProduct()" >
  <div class="row">
      <div class="col-md-12 mb-3">
        <label for="description" class="form-label">descripcion</label>
        <input type="text" class="form-control" id="description" formControlName="description" >
        
      </div>
      <div class="col-md-4 mb-3">
        <label for="quantity" class="form-label">Cantidad</label>
        <input type="number" class="form-control" id="quantity" formControlName="quantity" >
        
      </div>
      <div class="col-md-4 mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="number" class="form-control" id="price" formControlName="price" >
        
      </div>

    </div>
    <div class="d-grid gap-2 d-md-flex ">
        
      <button type="submit" class="btn btn-success"  >Agregar</button>
      <button type="button" (click)="this.submit()" class="btn btn-primary" [hidden]="this.formProductList.length==0" >Pagar</button>
    </div>
  </form>
<div class="row">
  <table *ngIf=" this.formProductList.length>0" class="table">
    <thead>
      <tr>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.formProductList">
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.total}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Total {{this.totalOrder|currency}}</th>
      </tr>
    </tfoot>

  </table>
</div>
  
  <div class="row w-50">

    <div  #paypal >
    
    </div>
  </div>
</div>



<router-outlet></router-outlet>